<%# app/views/dashboard/_user_table.html.erb %>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Wallet Funds</th>
      <th>League</th>
      <th>User Class</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td><%= user.wallet_funds %></td>
        <td><%= user.league %></td>
        <td><%= user.user_class %></td>
        <td>
          <%= link_to 'Edit', edit_user_path(user) %>
          <%= link_to 'Delete', user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Add User', new_user_path %>