<!DOCTYPE html>
<html>
  <head>
    <title>YourApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_importmap_tags 'application' %>

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= turbo_include_tags %>
    <%= yield %>
  </body>
</html>